/* ---------- html elements ---------- */

body {
    background-color: #222831;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #568bff;
}

p {
    margin: 0px;
    margin-bottom: 1rem;
}

a {
    color: #568bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-shadow:  0 0 10px #568bff;
}

/* ---------- ---------- ---------- */

/* ---------- layout ---------- */

.container {
    display: grid;
    place-items: center;
}

.content {
    width: 55%;
}

/* ---------- ---------- ---------- */